:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 31.25em) {
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    height: 11rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 56.25em) {
  .detail {
    padding: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 56.25em) {
  .description {
    padding: 2rem;
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .description {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.residencia-view {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fff;
}

.user-reviews {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

@media only screen and (max-width: 31.25em) {
  .search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }
}

@media only screen and (max-width: 56.25em) {
  .side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
}

@media only screen and (max-width: 56.25em) {
  .side-nav__item:not(:last-child) {
    margin: 0;
  }
}

@media only screen and (max-width: 56.25em) {
  .side-nav__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media only screen and (max-width: 56.25em) {
  .side-nav__link:link, .side-nav__link:visited {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .side-nav__link:link, .side-nav__link:visited {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem .5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .side-nav__icon {
    margin-right: 0;
    margin-bottom: .7rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .legal {
    display: none;
  }
}

@media only screen and (max-width: 37.5em) {
  .overview__heading {
    font-size: 1.8rem;
    padding: 1.25rem 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .overview__rating {
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .overview__rating-average {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .overview__rating-count {
    font-size: .5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .review {
    padding: 2rem;
    margin-bottom: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */